#box
{
    width:900px;
    height:auto;
    margin:0px auto;

}
#lmain
{
    width:186px;
    height:446px;
    font-family:Elephant;
    background-color:lavender;
    color:mediumpurple;
    font-size:15px;
    float:left;
    padding-left:10px;
           border-radius:25px 0px 0px 25px;
           border:2px solid green;
}
#rmain
{
    text-align:justify;
    width:660px;
height:410px;
font-family:'Global Sans Serif';
background-color:lemonchiffon;
color:red;
font-size:20px;
float:left;
padding:20px;
        border-radius:0px 25px 25px 0px;
}
#lnkenquiry
{
    width:80px;
    height:25px;
    background-color:gray;
    color:white;
    text-decoration:none;
    font-size:x-large;
    padding:20px 15px;
    font-weight:bold;
    position:absolute;
    top:250px;
    border-radius:10px;
    text-align:center;
    left:83%;
}
#penquiry
{
    padding:10px;
    background-color:yellow;
    color:white;
    position:absolute;
    top:300px;
    left:70%;
    display:none;
        border-radius:10px;
        border:2px solid blue;
}
#penquiry input
{
    height:25px;
    width:190px;
    padding:3px;
  padding-left :15px;
}
#penquiry textarea
{
    height:70px;
    resize:none;
    width:190px;
    padding:3px;
}